/* CSS Document */
//SASS Variables
$link1 : #FFD7AA;
$link2 : #632871;
$link3 : #AB7539;
$bgColor : #27576C;
$fFamily : Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
$fSize : 12px;

@mixin test($txt,$bg){
    text-align: $txt;
    background-color: $bg;
}

/* Global Settings */

* {
    padding: 0;
    margin: 0;
}


/* Structural Elements */

body {
    background-color: #6E92A2;
}

header {
    @include test(center,$link2);

    color: #9E72A9;

}

nav {
    background-color: lighten($bgColor,10%);
    padding: 5px;
    text-align: center;
}

nav li>a {
    color: $link1;
    text-decoration: none;
    margin: 2px 10px 2px 10px;
    padding: 5px;
    font-family: serif;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline;
}

footer {
    background-color: lighten($bgColor,10%);
    text-align: center;
}

figure {
    background-color: #467387;
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

#container {
    width: 960px;
    margin: 0 auto;
    min-height: 270px;
    max-height: 750px;
}


/* Text Elements */

h1 {
    font-family: $fFamily;
    text-shadow: 1px 1px 0px $bgColor;
}

h6 {
    font{
        family: $fFamily;
        size: $fSize;
    }
    color: #6E92A2;
}

h2 {
    @extend h1;
    color: #AD9EB0;
}

p {
    font{
        family: $fFamily;
        size: $fSize*1.5;
    }
    color: #023D3F;
}

nav {
    font{
        family: $fFamily;
        size: $fSize;
    }
}

nav a:link {
    color: $link1;
}

nav a:hover {
    background-color: $link3;
}

nav a:active {
    font-weight: bold;
}

footer a:link {
    color: $link1;
}

footer a:visited {
    color: $link2;
}

footer a:hover {
    background-color: $link3;
}

footer a:active {
    font-weight: bold;
}

.right {
    float: right;
}

.left {
    float: left;
}

.clear {
    clear: both;
}
